/*
 *-----------------------------------------------------------------------------------
 * === CSS DESIGN ===
 *-----------------------------------------------------------------------------------
 * author SOLUTII SOFT
 */

/* === HTML ELEMENTS === */
*,
select {
  outline: none;
  border-radius: 4px;
}

body {
  background: #e5e5e5;
  color: #222;
  font-family: 'Dosis', arial;
  font-size: 14px;
  line-height: 1;
  padding-bottom: 40px;
  padding-top: 60px;
  text-rendering: optimizelegibility;
}

a {
  color: #fff;
}

a:link,
a:focus,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}
a img {
  border: medium none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', arial;
  font-weight: 300;
}
h1 {
  margin-top: 0px;
  text-shadow: 1px 1px 0 #ffffff;
}

small {
  color: #000000 !important;
}

label {
  font-size: 16px;
  font-weight: 400;
}

ul {
  list-style: none;
}

p {
  font-size: 16px;
}

strong {
  font-weight: 500;
}

textarea {
  resize: none;
}

i {
  margin-left: 5px;
  margin-right: 5px;
}

hr {
  border-color: #999999;
}

main {
  unicode-bidi: isolate;
  display: block;
  margin-bottom: 30px;
}
/* === END HTML ELEMENTS === */

/* === PANELS === */
.panel .panel-heading {
  background: none repeat scroll 0 0 #262523;
  color: #ffffff;
}
/* === END PANELS === */

/* === PANELS LIST GROUP === */
.panel .list-group .list-group-item {
  background: none repeat scroll 0 0 #fff;
}
/* === END PANELS LIST GROUP === */

/* === NAV TABS === */
.nav {
  border: 0;
  font-weight: 600;
}
.nav-tabs > li > a {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #333333;
  /* 		box-shadow: 0 0 0 1px #FFFFFF inset */
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: #f7b545;
  color: #333333;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:visited,
.nav-tabs > li.active > a:focus {
  background-color: #f7b545;
  color: #333333;
}
.tab-content {
  background-color: #d1d1d1;
  margin-left: 0px;
  margin-right: 300px;
  padding-left: 10px;
}
/* === END NAV TABS === */

/* === PAGINATION === */
.pagination > li > a,
.pagination > li > span {
  color: #343d46;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #343d46;
  color: #ffffff;
}
/* === END PAGINATION === */

/* === MODALS === */
.modal-backdrop {
  background-color: #000;
}
.modal-lg {
  width: 980px;
}
.modal-header {
  border-bottom: 1px solid #e5e5e5;
  background-color: #f7b545;
  color: #000;
  min-height: 16.43px;
  padding: 15px;
}
.modal-body {
  padding-bottom: 10px !important;
  background: #fff;
  max-height: 600px;
  overflow: auto;
}
.modal-header .close {
  margin-top: -25px;
  margin-right: 5px;
}

.modal-btn-save {
  background-color: #262523;
  color: #fff;
}

.modal-btn-save:hover {
  background-color: #262523;
  color: #fff;
}
/* === END MODALS === */

/* === ALERTS === */

.alert .close {
  z-index: 9999999;
}
.alert-success {
  background: green;
  border: 1px solid green;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.42857;
  padding: 15px 10px;
}
/* === END ALERTS === */

/* === BUTTONS === */
.btn-default.active {
  background-color: darkslateblue;
  background-color: teal;
  border-color: #fff;
  color: #fff;
}
/* === END BUTTONS === */

/* === LABELS === */
.label {
  display: block;
}

.label-green {
  background-color: #27ae60;
  color: #ffffff;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 400;
}
.label-orange {
  background-color: #ec5e00;
  color: #ffffff;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 400;
}
.label-blue {
  background-color: #2e8ece;
  color: #ffffff;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 400;
}
.label-grey {
  background-color: #7b7d7f;
  color: #ffffff;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 400;
}
.label-red {
  background-color: #c0392b;
  color: #ffffff;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 400;
}
.label-purple {
  background-color: #8e44ad;
  color: #ffffff;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 400;
}
/* .label-owner {
  background-color: teal;
  color: #ffffff;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 400;
}
.label-client {
  background-color: indianred;
  color: #ffffff;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 400;
} */
/* === END LABELS === */

/* === TIMEPICKER === */
.bootstrap-timepicker-widget table td input {
  border: 0;
}
.bootstrap-timepicker-widget table td i {
  font-size: 12px !important;
}
/* === END TIMEPICKER === */

/* === DATEPICKER === */
.datepicker {
  z-index: 9999;
}
/* === END DATEICKER === */

/* === FILE INPUT === */
.file-caption-disabled,
.file-preview {
  background: #ffffff;
}
.file-error-message {
  background: #dc002e; /* aici se schimba ptr culoare*/
  border: 1px solid #dc002e; /* aici se schimba ptr culoare*/
  box-shadow: 0 0 0 1px #ffffff inset;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.42857;
  margin-top: 10px;
  padding: 5px 10px;
}
/* === END FILE INPUT === */

/* === SELECT 2 === */
.form-control .select2-choice {
  border: 0;
  border-radius: 2px;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
}
/* === END SELECT 2 === */

/* === SOLUTII SOFT === */
/* === HELPER CLASSES === */
.top10 {
  margin-top: 10px;
}
.top20 {
  margin-top: 20px;
}
.top40 {
  margin-top: 40px;
}
.top80 {
  margin-top: 80px;
}
.bottom20 {
  margin-bottom: 20px;
}
.bottom40 {
  margin-bottom: 40px;
}
.noMargin {
  margin: 0;
}
.noPadding {
  padding: 0;
}
.noTop {
  margin-top: 0;
}
.w320 {
  width: 320px !important;
}
.text-right {
  text-align: right !important;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
/* === END HELPER CLASSES === */

.large {
  width: 200px;
}
.small {
  width: 100px !important;
}
.xs-small {
  width: 50px !important;
}
.text-shadow {
  text-shadow: 1px 1px 0 #ffffff;
}

@media only screen and (min-width: 620px) and (max-width: 900px) {
  .solso-content {
    padding-top: 70px;
  }
}

/* === BUTTONS === */
.solso-pdf {
  background: #8e44ad;
  border-color: #8e44ad;
  color: #ffffff;
}
.solso-pdf:hover,
.solso-pdf:focus,
.solso-pdf.active {
  background: #9b59b6;
  border-color: #9b59b6;
  color: #ffffff;
}

.solso-excel {
  background: #207245;
  color: #ffffff;
  border-color: #207245;
}
.solso-excel:hover,
.solso-excel:focus,
.solso-excel.active {
  background: #1e5037;
  color: #ffffff;
  border-color: #1e5037;
}

.solso-email {
  background: #f7b545;
  border-color: #f7b545;
  color: #000;
}
.solso-email:hover,
.solso-email:focus,
.solso-email.active {
  background: #f7b545;
  border-color: #f7b545;
  color: #000;
}

.solso-cron {
  background: #f77a52;
  border-color: #f77a52;
  color: #ffffff;
}
.solso-cron:hover,
.solso-cron:focus,
.solso-cron.active {
  background: #ff733b;
  border-color: #ff733b;
  color: #ffffff;
}

/* === END BUTTONS === */

/* === PIE CHART === */
.solso-pie-chart {
  color: #777777;
  padding-top: 10px;
  text-align: center;
  height: 180px;
  text-transform: uppercase;
}
.solso-pie-chart h4 {
  margin-top: 20px;
}
.solso-pie-chart p {
  padding-left: 15px;
  text-align: left;
}
.solso-pie-chart .chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  text-align: center;
}
.solso-pie-chart .chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.solso-pie-chart .percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.solso-pie-chart .percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: 0.8em;
}
.chart-invoice-paid {
  border-bottom: 2px solid #27ae60;
}
.chart-invoice-unpaid {
  border-bottom: 2px solid #ec5e00;
}
.chart-invoice-partial-paid {
  border-bottom: 2px solid #2e8ece;
}
.chart-invoice-overdue {
  border-bottom: 2px solid #c0392b;
}
.chart-invoice-canceled {
  border-bottom: 2px solid #7b7d7f;
}
.chart-invoice-pending {
  border-bottom: 2px solid #8e44ad;
}
/* === END PIE CHART === */
/* === END SOLUTII SOFT === */

pre {
  margin-top: 100px;
  margin-left: 320px;
  margin-right: 20px;
}

.btn:focus {
  outline: 0px;
  outline-offset: 0px;
}

.btn:active:focus {
  outline: 0px;
  outline-offset: 0px;
}

.btn-geral {
  background: none;
  border: none;
  color: #333;
  font-size: large;
  padding: 0px 15px;
  margin-top: 6px;
}

.btn-geral:hover {
  background: none;
  border: none;
  color: #333;
  font-size: large;
  padding: 0px 15px;
  margin-top: 6px;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.btn-geral:focus {
  background: none !important;
  border: 0 !important;
  color: #333 !important;
  font-size: large;
  padding: 0px 15px;
  margin-top: 6px;
  box-shadow: 0 0 0 0;
  outline: 0;
}
